@import '../../App.scss';

.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: 0px 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile{
            padding: 40px;
        } 

        span{
            font-weight: bold;

            @include mobile{
                display: none;
            }   
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                width:18px;
                height: 18px;
            }
        }
    }
}